body {
    background: #1fb3ee;
    margin:0;
    padding:0;

    #jeu{
        background: url(../medias/img/motifBG.png);
    }
}
#orientation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(212, 6, 68);
    display: none;
}

