.gabarit {
  display: none;
}
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}
body .conteneurPrincJeu {
  display: flex;
  padding: 2em;
}
body .conteneurPrincJeu header {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  margin-right: 3em;
}
body .conteneurPrincJeu header img {
  width: 5vw;
  height: auto;
}
body .conteneurPrincJeu header h1 {
  font-variant: small-caps;
  color: sienna;
  letter-spacing: 0.2em;
  font-family: 'Alegreya', serif;
  font-size: 1.2em;
  margin-bottom: 2em;
}
body .conteneurPrincJeu header a {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: darkolivegreen;
}
body .conteneurPrincJeu header a:hover {
  color: sienna;
}
body .conteneurPrincJeu header .entete {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body .conteneurPrincJeu header .entete p {
  font-family: 'Alegreya', sans-serif;
}
body .conteneurPrincJeu header .entete p.soustitre {
  margin-top: 1em;
  color: #39481f;
  font-weight: 600;
}
body .conteneurPrincJeu header .entete p.data {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: darkolivegreen;
}
body .conteneurPrincJeu header .entete p.retour {
  margin-top: 7em;
}
body .conteneurPrincJeu .boiteMsg {
  padding: 3em;
  overflow: scroll;
}
body .conteneurPrincJeu .boiteMsg h3 {
  font-variant: small-caps;
  color: sienna;
  letter-spacing: 0.2em;
  font-family: 'Alegreya', serif;
  font-size: 1.25em;
  margin-bottom: 1em;
}
body .conteneurPrincJeu .boiteMsg .msg {
  margin-bottom: 1em;
  color: #999;
  font-family: 'Alegreya', serif;
  font-size: 0.9em;
}
body .conteneurPrincJeu .boiteMsg .msg .auteur {
  color: darkolivegreen;
  text-transform: uppercase;
}
body .instructionsConteneur {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}
body .instructionsConteneur .instructions {
  padding: 3em;
  background-color: cornsilk;
}
body .instructionsConteneur .instructions h3 {
  font-variant: small-caps;
  color: sienna;
  letter-spacing: 0.2em;
  font-family: 'Alegreya', serif;
  font-size: 3em;
  margin-bottom: 1em;
}
body .instructionsConteneur .instructions p {
  font-family: 'Alegreya', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: darkolivegreen;
  margin-bottom: 0.25em;
}
body .instructionsConteneur .instructions .emphase {
  font-weight: 700;
  color: darkslategrey;
}
body .conteneurPrinc {
  flex: 1 0 auto;
  padding: 5em;
  display: flex;
  flex-direction: column;
}
body .conteneurPrinc header {
  padding: 0.1em 0;
  flex: 1 1 5%;
}
body .conteneurPrinc header h1 {
  text-align: right;
  font-variant: small-caps;
  color: sienna;
  letter-spacing: 0.2em;
  font-family: 'Alegreya', serif;
  font-size: 5em;
}
body .conteneurPrinc .formBloc {
  padding: 0.2em 0;
  flex: 1 1 auto;
  display: flex;
}
body .conteneurPrinc .formBloc > section {
  flex: 0 1 50%;
}
body .conteneurPrinc .formBloc > section.gc {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .conteneurPrinc .formBloc > section.gc img {
  max-width: 50%;
}
body .conteneurPrinc .formBloc > section.dr {
  display: flex;
  flex-direction: column;
}
body .conteneurPrinc .formBloc > section.dr form {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
}
body .conteneurPrinc .formBloc > section.dr form label {
  flex: 1 1 50%;
  font-family: 'Alegreya', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: darkolivegreen;
}
body .conteneurPrinc .formBloc > section.dr form .nomGroupe {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .conteneurPrinc .formBloc > section.dr form .nomGroupe label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .conteneurPrinc .formBloc > section.dr form .nomGroupe input {
  flex: 1 1 50%;
  background-color: darkolivegreen;
  color: cornsilk;
  font-size: 2em;
  text-align: center;
  padding: 0.2em;
  font-family: 'Alegreya', sans-serif;
  border: none;
  border-radius: 0.2em;
  box-shadow: darkslategrey 0 0 5px 2px inset;
}
body .conteneurPrinc .formBloc > section.dr form .nomGroupe input > * {
  border: none;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe p {
  text-align: center;
  font-family: 'Alegreya', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: darkolivegreen;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe {
  display: flex;
  padding: 1em;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe > div {
  padding: 0.3em;
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe > div label {
  transition: border 250ms, background-color 500ms;
  flex: 0 1 50%;
  border-radius: 0.2em;
  width: 40px;
  height: 40px;
  margin-bottom: 0.5em;
  font-size: 2em;
  border: 2px solid darkolivegreen;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe > div label:hover {
  cursor: pointer;
  background-color: darkslategrey;
  border: 2px solid darkslategrey;
  color: cornsilk;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe > div input {
  display: none;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe > div input:checked + label {
  background-color: darkolivegreen;
  color: cornsilk;
}
body .conteneurPrinc .formBloc > section.dr form .equipeGroupe .radioGroupe > div p {
  color: darkred;
  font-size: 1.5em;
  font-style: italic;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe {
  flex: 1 1 30%;
  display: flex;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe div {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe div:nth-of-type(1) p {
  background-color: darkslategrey;
  transition: background-color 500ms;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe div:nth-of-type(1) p:hover {
  background-color: #1c2f2f;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe div:hover {
  cursor: pointer;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe div p {
  background-color: darkolivegreen;
  padding: 1em 3em;
  border-radius: 0.2em;
  color: cornsilk;
  font-family: 'Alegreya', sans-serif;
  font-variant: small-caps;
  font-size: 1.2em;
  transition: background-color 500ms;
}
body .conteneurPrinc .formBloc > section.dr .btnGroupe div p:hover {
  background-color: #39481f;
}
