<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeu avec phaser</title>
</head>
<body>
    <form action="/jeu" method="POST">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom">
        <p>Équipe</p>
        <label for="equipe1">1</label>
        <input type="radio" name="equipe" id="equipe1" value=1>
        <label for="equipe2">2</label>
        <input type="radio" name="equipe" id="equipe2" value=2>
        <label for="equipe3">3</label>
        <input type="radio" name="equipe" id="equipe3" value=3>
        <input type="submit" value="C'est parti!">
    </form>
</body>
</html>